<footer class="footer_main">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="{{ 'footer-logo.png' | asset_url }}" class="img-fluid footer_logo" />
            <h5>Healthy Mouth.</h5>
            <h5>Healthy Me.</h5>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="#" class="product-form-button">SHOP</a>
            <ul class="quicklinks">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <ul class="quicklinks">
              <li><a href="#">About Us </a></li>
              <li><a href="#">Science </a></li>
              <li><a href="#">My Test </a></li>
              <li><a href="#">Partnership</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <ul class="social_link">
              <li><a href="#"><img src="{{ 'link.png' | asset_url }}" class="img-fluid" /></a></li>
              <li><a href="#"><img src="{{ 'twi.png' | asset_url }}" class="img-fluid" /></a></li>
              <li><a href="#"><img src="{{ 'ff.png' | asset_url }}" class="img-fluid" /></a></li>
            </ul>
          </div>
      </div>
    </div>
</footer>