{% schema %}
  {
    "name": "Simply Dental health",
    "settings": []
  }
{% endschema %}

<section class="sec-2">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-4 order-3 order-lg-1">
        <img src="{{ 'photo.png' | asset_url }}" class="img-fluid photo" />
      </div>
      <div class="col-lg-1 order-2 order-lg-2">&nbsp;</div>
      <div class="col-lg-7 order-1 order-lg-3">
        <div class="row">
           <div class="sec_area">
             <h2 class="section_title text-left d-block mb-5">
                Simply put, dental health is
                overall health
              </h2>
              <p>We measure the bacteria in your mouth that has been linked to:</p>
              <div class="col-lg-12">
                <ul class="ul_list">
                  <li>Heart Disease</li>
                  <li>Diabetes</li>
                  <li>Alzheimer’s Disease</li>
                  <li>Rheumatoid Arthritis</li>
                  <li>Pregnancy Issues</li>
                  <li>Female and Male Fertility</li>
                  <li>Inflammatory Bowel Disease</li>
                  <li>Cancer</li>
                </ul>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}