{% schema %}
  {
    "name": "What you'll discover",
    "settings": []
  }
{% endschema %}

<section class="recommed p-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-1 col-lg-1">&nbsp;</div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="row">
          <h2 class="section_title text-left d-block mb-5">
            What you’ll discover
          </h2>
          <div class="col-md-6 col-lg-6">
            <div class="box">
              <h4>Oral Health Scores </h4>
              <p>
                Check your Gum Disease Score, Tooth
                Decay Score, and Beneficial Bacteria
                Score to understand the current state of
                your oral health.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="box">
              <h4>Diet & Nutrition Recommendations</h4>
              <p>
                From food choices to eating habits to tips
                and tricks for a healthy lifestyle, we have
                you covered
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="box">
              <h4>Mouth-Body Connection</h4>
              <p>
                Find out what systemic diseases are
                linked to your bacterial profile.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="box">
              <h4>Plan of Action</h4>
              <p>
                Get your personalized hygiene routine and
                recommended products straight from
                the expert.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="box">
              <h4>Treatment Recommendations</h4>
              <p>
                Let us give you some pointers on what a
                dentist might recommend.
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 p-0 m-0">
        <img src="{{ 'sdsad.png' | asset_url }}" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}